<form method="POST">
{{ csrfField()}}
    <input type="text" name="username" placeholder="User Name"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>

    <input type="submit"/>
</form>
