<form method="POST">
{{csrfField()}}
<div>
  <label>Date:
  <input type="date" name="date"/>
</div>
<div>
  <label>Lat:
  <input type="text" name="lat"/>
</div>
<div>
  <label>Lng:
  <input type="text" name="lng"/>
</div>
<input type="submit"/>
</form>
